:root {
  --cart-icon: url(../images/cart.svg);
  --logo: url(../images/hophop-logo.svg);
  --preloader-logo-width: 134px;
  --preloader-logo-height: 151px;
  --container-width: calc(100vw - 16px);
}

@font-face {
  font-family: "Futura Demic Italic";
  src: url(../fonts/FUTURADEMIC-ITALIC.TTF) format("truetype");
}

@font-face {
  font-family: "Futura Demic";
  src: url(../fonts/FUTURADEMIC.TTF) format("truetype");
}

@font-face {
  font-family: "Futura Book C";
  src: url(../fonts/futurabookc.otf) format("truetype");
}

html {
  margin: 0 !important;
}

body {
  text-align: left;
  position: relative;
  font-family: "Futura Demic";
  min-height: 100vh;
}

span a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3 {
  color: black;
}

/*preloader*/

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: white;
  z-index: 999999;
}

.preloader__row {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.preloader__item {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--preloader-logo-width);
  height: var(--preloader-logo-height);
  margin-left: calc(var(--preloader-logo-width) / 2 * -1);
  margin-top: calc(var(--preloader-logo-height) / 2 * -1);
  text-align: center;
  animation: preloader-bounce 2s infinite ease-in-out;
  background-image: var(--logo);
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(0);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
/*preloader*/

.checkout-hidden {
  display: none;
}

.checkout-active {
  display: flex;
}

.woocommerce-page #sidebar {
  display: none;
}

.single .woocommerce div.product {
  display: flex;
  flex-wrap: nowrap;
  margin-top: -8px;
  margin-left: -8px;
}

#sidebar-container {
  position: absolute;
  width: 34.8vw;
  display: flex;
  background-color: white;
  top: 0;
  left: -34.8vw;
  height: 100vh;
  z-index: 999999;
  display: block;
  transition: 0.5s;
}

.sidebar-active #sidebar-container {
  transform: translate(34.8vw, 0);
}

.sidebar-active .opac {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: 999998;
  opacity: 0.7;
}

.sidebar-hidden #sidebar-container {
  transform: translate(-34.8vw, 0);
}

.filter-nav {
  order: 1;
  display: flex;
  gap: 30px;
  font-size: 20px;
  margin-left: 50px;
}

.filter-nav div {
  cursor: pointer;
}

.front-page.row {
height: calc((100vh - 64px));
display: flex;


}

.front-page.logo{
  height: 50%;
  width: auto;
  background-image: var(--logo);
  background-repeat: no-repeat;
background-position: center;
}

.woocommerce div.product form.cart .variations label {
display: none;
}

#header {
  display: flex;
  top: 0;
  height: 32px;
  position: sticky;
  width: 100vw;
align-items: center;
}

.single #header {
  position: absolute;
  z-index: 999997;
  width: 100%;
}

span {
  color: black;
}

.woocommerce .woocommerce-breadcrumb {
  margin-left: 16px;
}

.single .woocommerce-breadcrumb {
  display: flex;
    padding-bottom: 80px;
    padding-top: 100px;
    justify-content: center;
}

#footer {
  bottom: 0;

  text-align: right;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: end;
  width: 100%;

  height: 32px;
}



.xoo-wsc-cart-trigger {
  margin-left: auto;
  background-image: var(--cart-icon);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
      margin-right: 16px
}

#main {
  margin-bottom: 50px;
}

#main .related {
  display: none;
}

a {
  color: #34393e;
  text-decoration: none;
}

.woocommerce ul.products li.product .price {
  color: #77a464;
  display: block;
  font-weight: 400;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title {
  font-size: 1.5em;
}

.woocommerce nav.woocommerce-pagination ul {
  border: none;
}

.woocommerce .woocommerce-pagination ul.page-numbers li,
.woocommerce-page .woocommerce-pagination ul.page-numbers li {
  display: inline-block;
  margin: 5px;
}

.woocommerce nav.woocommerce-pagination ul li span.current {
  background: #337ab7;
  color: #fff;
  padding: 12px;
}

.woocommerce-pagination ul.page-numbers a.page-numbers {
  color: #444;
  padding: 12px;
  margin: 0px;
  background: #ddd;
}

.woocommerce div.product div.images.woocommerce-product-gallery {
  opacity: 100 !important;
      width: 50vw;
      height: 100vh;
      object-fit: cover;
}

.footer__bottom {
  text-align: right;  margin-right: 16px;

}

#main {
  flex: 1;
  flex-direction: column-reverse;
  display: flex;
  justify-content: center;
  
}

.woocommerce .woocommerce-ordering {
  display: none;
}

.woocommerce-result-count {
  display: none;
}

.page-title {
  display: none;
}

.xoo-wsc-basket {
  display: none !important;
}

.woocommerce ul.products.columns-3 li.product,
.woocommerce-page ul.products.columns-3 li.product {
  width: 100%;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  margin: 0;
}

.woocommerce ul.products {
  display: flex;
  justify-content: space-around;
}

.woocommerce ul.products li.product .button {
  display: none;
}

.woocommerce-LoopProduct-link {
  display: flex;
  flex-direction: column;
}

.woocommerce ul.products li.product a img {
  order: 1;
      height: 64.8vh;
      width: 24.8vw;
          object-fit: cover;
}

.woocommerce ul.products li.product a h2 {
  order: 2;
}

.woocommerce ul.products li.product a span {
  order: 3;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title {
  padding: 0;
}

.woocommerce ul.products li.product .price,
.woocommerce-Price-currencySymbol {
  color: black;
  font-weight: 800;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  padding: 0;
  position: relative;
  margin-left: 0;
  width: 24%;
}

#header > span:nth-child(1) {
  margin-right: 16px;
  padding-left: 16px;
}

#header > span:nth-child(2) {
  margin-right: 16px;
}

* {
  transition: all 800ms ease-in-out !important;
}

#checkout {
  position: absolute;
  border-radius: 25px;
  margin: auto;
  flex-wrap: wrap;
  flex-direction: column;
  border: #aaa 1px solid;
  background-color: white;
  height: calc(100% - 100px);
}

#checkout .close {
  position: absolute;
  right: 16px;
  height: 20px;
}

#checkout .fields {
  column-count: 2;
}

#checkout .fields div {
  width: 80%;
}

#checkout .fields .row {
  display: flex;
  justify-content: space-between;
}

#checkout .row div {
  max-width: 230px;
}

#checkout .mui-textfield > input,
#checkout .mui-textfield > textarea,
#checkout .mui-select select {
  border: 1px solid #aaa;
  border-radius: 5px;
  box-sizing: border-box;
}

#checkout .mui-textfield > textarea {
  padding: 0.875rem;
}

#checkout input[type="text"],
#checkout textarea {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
  height: 16px;
  font-size: 20px;
  font-family: "Futura Book C";
}

#checkout .mui-select select {
  width: 100%;
  padding-left: 8px;
  padding-top: 4px;
  margin: 8px 0;
  box-sizing: border-box;
  height: 16px;
  font-size: 20px;
  font-family: "Futura Book C";
}

#checkout .mui-form legend {
  font-size: 2.16px;
  color: black;
  margin-bottom: 1.875rem;
}

#checkout .mui-select > label,
#checkout .mui-textfield > label {
  font-size: 1.125rem;
  font-weight: 800;
  color: black;
}

#checkout .fields div:first-child {
  margin-right: 1.625rem;
}

#checkout .mui-form {
  padding-left: 4.625rem;
}

#checkout .mui-textfield,
#checkout .mui-select,
#checkout .cart_content,
#checkout .price_total,
#checkout .delivery {
  margin-bottom: 1.16px;
  font-family: "Futura Demic Italic";
}

#checkout .price_total {
  display: flex;
  font-size: 1.25rem;
  align-items: center;
}

#checkout .price_total h3 {
  margin: 0;
}

#checkout .price_total span {
  align-self: flex-end;
  margin-left: auto;
}

#checkout .mui-btn, .woocommerce div.product form.cart .button{
color: white;
    background-color: black;
    text-align: center;
    /* margin-right: 60%; */
    font-size: 20px;
    width: 230px;
}

.woocommerce div.product form.cart .button:hover {
  color:black;
  background: white;
}

.woocommerce div.product form.cart div.quantity {
    /* float: right; */
    margin: 0 4px 0 0;
    width: 230px;
    text-align: right;
    margin-bottom: 15px;
}

#checkout .mui-btn {
  display: flex;
  width: 320px;
  justify-content: center;
  min-height: 66px;
  align-items: center;
  font-family: "Futura Book C";
  margin-top: 16px;
  margin-left: 16px;
}

#checkout > .delivery {
  display: flex;
}

#checkout .delivery span {
  display: block;
  width: 100%;
}

.mui-container {
  position: relative;
  min-height: 100vh;
}

#checkout .mui-form legend,
#checkout .fields {
  font-family: "Futura Demic";
}

#checkout .mui-select select {
  color: #aaa;
}

#checkout .mui-select select option:first-of-type {
  display: none;
}


body.home {
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
}

.rotate-center {
	-webkit-animation: rotate-center 7s ease-in-out infinite both;
	        animation: rotate-center 7s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-11-3 14:42:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#sidebar-container .men {
  display: flex;
  justify-content: center;
}
#sidebar-container .men div {
  display: flex;
  flex-direction: column;
      flex: 0.3;
}

#sidebar-container .header {
  margin-bottom: 8.33vh;
}


.main-image {
  width: 50%;
}

.main-image img {
  object-fit: cover;
  height: 100vh;
}

.woocommerce div.product {
  display: flex;
  flex-wrap: wrap;
}

.product_meta, .quantity {
  display:none;
}

.product, .three-images {
  display: flex;
}

.woocommerce-variation-add-to-cart {display: flex;
flex-direction: column;}

.three-images img {
  width: calc(100%/3);
  box-sizing: border-box;
  padding: 5px;
}

.product .bottom {
  display: flex;
    justify-content: space-around;
    width: 100%;
}

.product .bottom .info {
  display: flex;
  flex-wrap: wrap;
}

.product .bottom .info * {
  width: 100%;
}

.two-images img {

  width: calc(100%/3);

}

.two-images {
  display: flex;
  justify-content: center;

  gap:125px
}

.info .description, .info .compound, .info .care {
  display: flex;
  flex-direction: column;
}

.info-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.info-text {
    font-family: "Futura Book C";

  font-size: 14px;
}

.pictograms {
  display: flex;
}

.summary {
 padding-left: 100px;
    box-sizing: border-box;
    margin-top: 70px;
}

@media (max-width: 768px) {
  #checkout {
    max-width: 740px;
  }
  #checkout .fields {
    column-count: 2;
  }


}

